//- index.jade
//-
  This file is part of JSGobstones.
  JSGobstones is free software: you can redistribute it and/or
  modify it under the terms of the GNU General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  JSGobstones is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  You should have received a copy of the GNU General Public License
  along with JSGobstones.  If not, see <http://www.gnu.org/licenses/>.

extends ./layout.jade

block content
  div#page-content-wrapper
      
    div.page-content.inset

      div.notice
        h1 JSGobstones
          p Write the Gobstones code below and press "execute" to calculate the output board. You may write JSGobstones code or the raw JavaScript code that invokes JSGobstones' builtins. When executing raw JavaScript, your final board has to be returned as the last command of your code.

            div.panel.panel-primary
              div.panel-heading
                h3.panel-title Input code 
                  div.btn-group.btn-group-sm(role='group' aria-label='Small button group')
                    button#modeGBS.btn.btn-default.active(type='button' onclick='modeGBS()') Gobstones
                    button#modeJS.btn.btn-default(type='button' onclick='modeJS()') Javascript
                
              
              
            div.panel-body
              div#editor

      
              button.btn.btn-primary(type='button' onclick='execute()') Execute
        
            div.panel.panel-default
              div.panel-heading
                h3.panel-title Output board
              
              div.panel-body
                pre#outputBoard The board will be printed here.