//- scripts.jade

//-
  This file is part of JSGobstones.
  JSGobstones is free software: you can redistribute it and/or
  modify it under the terms of the GNU General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  JSGobstones is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  You should have received a copy of the GNU General Public License
  along with JSGobstones.  If not, see <http://www.gnu.org/licenses/>.

script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js' charset='utf-8')
script(type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

script(type='text/javascript' src='/jsgobstones/GobstonesTranspiler.js')
script(type='text/javascript' src='/jsgobstones/RawGobstones.js')