//- sidebar.jade

div#sidebar-wrapper
  ul#sidebar_menu.sidebar-nav
    li.sidebar-brand
      a#menu-toggle(href='#') Menu
        span#main_icon.glyphicon.glyphicon-align-justify
        
  ul#sidebar.sidebar-nav
    li
      a Link1
        span.sub_icon.glyphicon.glyphicon-link
    li
      a link2
        span.sub_icon.glyphicon.glyphicon-link
        